@model Pacient

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this pacient?</h3>
<div class="card">
    <div class="card-header">
        <h4 class="card-title">@Model.NumePacient @Model.PrenumePacient</h4>
    </div>
    <div class="card-body">
        <p class="card-text">@Model.Adresa</p>
    </div>
    <div class="card-footer">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <input type="submit" value="Delete" class="btn btn-primary" />
            <a class="btn btn-primary"
               asp-action="Index" asp-controller="Pacient">
                Back to List
            </a>
        }
    </div>
</div>